.Task{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    width: 420px;
    padding: 5px;
}
.row{
    width: 440px;
    padding-left: 10px;
}
#lista{
   
}
/* .contador{
    justify-content: center;
    width: 400px;
    text-align: center;
} */
.notas{
    justify-content: center;
    width: 400px;
    text-align: center;
    margin: auto;
}
#input_1{
    width: 420px;
    border-bottom: solid 1px gray;
    
}
.list-body{
    display: flex;
        justify-content: center;
        width: 420px;
        text-align: center;
        border-bottom: solid 1px gray;
        
}
.titulo{
    justify-content: center;
    text-align: center;
}
.fondo-de-cartas{
    background-color:rgb(250, 252, 173);
    height: 400px;
    width: 600px;
    margin:auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}